/* Search Component CSS */
form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
    font-size: 16px;
    flex-grow: 1;
  }
  
  button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
 